.m_info > * {
    border: none;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    /* background: rgba(255, 0, 0, 0.144); */
    max-width: 100%;
}

.m_info_project_legend, .m_info_personalization_legend {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.m_info_project_name {
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 10px;
}

.m_info_project_description {
    font: inherit;
    resize: none;
    padding: 5px 10px;
}

.m_info_personalization_langs {
    height: 3rem;
    color: rgba(255, 255, 255, 0.432);
    margin-bottom: 10px;
}

.m_info_personalization_langs_lang {
    background-color: var(--dark);
}

.m_info_personalization_color-container {
    width: 100%;
    height: 3rem;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m_info_personalization_color-container_picker {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.m_info_save {
    margin: 0px;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--secundary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.m_info_save:hover, .m_info_save:focus {
    background-color: #7BA4FC;
    outline: none;
}

.m_info_save:active {
    border: 4px solid var(--tertiary-color);
    background-color: var(--secundary-color);
}

@media screen and (max-width: 1000px) {
    .m_info {
        margin-left: 0px;
    }

    .m_info_project_description {
        height: 4rem;
        padding-top: 20px;
    }

    .m_info_personalization {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .m_info_personalization_langs {
        width: 49%;
    }

    .m_info_personalization_color-container {
        width: 49%;
    }

    .m_info_save {
        margin-bottom: 35px;
    }
}