.m_menu_title {
    margin-bottom: 15px;
}

.m_menu_nav {
    list-style: none;
}

.m_menu_nav_item {
    text-decoration: none;
    margin-bottom: 15px;
    cursor: pointer;
    background: linear-gradient(to right, var(--complement-color), #ffffff00);
    border-radius: 50px;
    filter: brightness(0.5);
}

.m_menu_nav_item_a {
    display: grid;
    grid-template-areas: "icon text";
    grid-template-columns: 3rem 1fr;
    color: #fdfdfd;
    text-decoration: none;
}

.m_menu_nav_item_a_icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 1rem;
    border-radius: 35%;
    background-color: var(--secundary-color);
}

.m_menu_nav_item_a_text {
    grid-area: text;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
