/* 051D3B */
.h {
    background: var(--primary-color);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.h_logo, .h_user {
    width: 20%;
}

.h_logo_alura-dev {
    width: 50%;
}

.h_search {
    height: 60%;
    width: 60%;
}

.h_search_bar {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.h_user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.h_user_pic {
    background: url("./../assets/images/no-picture.png") #fdfdfd;
    width: 35px;
    border-radius: 100%;
    margin-right: 10px;
}

.h_user_name {
    color: #fdfdfd;
}