.m_code_editor {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.m_code_editor_header {
    width: 100%;
    height: 1.7rem;
    background: var(--dark);
    border-radius: 10px 10px 0 0;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m_code_editor_header_dots {
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
}

.m_code_editor_header_dots_dot {
    background: rgb(250, 107, 91);
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-right: 5px;
}

.m_code_editor_header_dots_dot--yellow {
    background: gold;
}

.m_code_editor_header_dots_dot--green {
    background-color: rgb(2, 221, 75);
}

.m_code_editor_header_language {
    color: rgba(212, 184, 113, 0.568)
}

.m_code_editor_text {
    width: 100%;
    background-color: #141414;
    border:none;
    outline: none;
    padding: 5px 15px;
    border-radius: none;
    resize: none;
    font-size: 1.5rem;
    color: #fdfdfd;
}

.m_code_editor_footer {
    background: var(--dark);
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fdfdfd50;
    padding: 5px 15px;
    border-radius: 0 0 10px 10px;
    font-size: 0.8rem;
}

.m_code_highlights {
    background: var(--complement-color);
    border:none;
    border-radius: 8px;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    color: #fdfdfd;
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    .m_code_editor {
        margin-bottom: 25px;
        padding: 30px 15px;
    }

    .m_code_highlights {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 400px) {
    .m_code_editor {
        padding: 30px 5px;
    }
}